@use '/node_modules/bootstrap/scss/bootstrap.scss';

$yu-gi-oh_primary: #d48f38;

#app_main {
    background-color: $yu-gi-oh_primary;
    height: 800px;

    .contents {
        height: 500px;
    }
}