@use '/node_modules/bootstrap/scss/bootstrap.scss';

$yu-gi-oh_primary: #d48f38;

#app_main {
    background-color: $yu-gi-oh_primary;


    .card {
        background-color: $yu-gi-oh_primary;
        border-radius: 0;
    }

}